.board-wrapper {
  display: flex;
  width: 100%
}

.col-1 {
  flex: 1;
}

.col-2 {
  display: flex;
  flex: 2;
  justify-content: center;
}

.col-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input {
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 10px;
}
